*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
.main-container{
    height:600px;
    width:600px;
    border:2px solid;
}
.row1,.row2{
    display: flex;
}
 
.row1 .white{ 
    width:75px;
    height:75px;
 background-color:aliceblue ;
 text-align: center;
}
.row1 .black{
    width:75px;
    height:75px;
    background-color:lightslategray;
    text-align: center;
}
.row2 .white{
    height:75px;
    width:75px;
    background-color:lightslategray ;
    text-align: center;
}
.row2 .black{
    width:75px; 
    height:75px;
    background-color:aliceblue;
    text-align: center;
}
span{
    font-size: 40px;
    text-align: center;
}

@media screen and (width <= 700px)
{
    .main-container{
        display:block;
    }

}